h1,
h2,
h3,
h4,
h5,
body,
div {
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}

section {
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

section > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

section > nav {
  display: flex;
  gap: 16px;
}

section > details {
  font-family: monospace;
  padding: 20px;
  background-color: #444;
  overflow-x: scroll;

}
