h1,
h2,
h3,
h4,
h5,
body,
div {
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}

section {
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

#title {
  margin-bottom: 20px;
}

#log {
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  max-height: 200px;
  overflow: hidden;
}

.expand {
  max-height: none !important;
}

#log-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

#log-content {
  font-family: monospace;
  padding: 20px;
  background-color: #444;
  overflow-x: scroll;
}